<div id="welcome">
  <div class="row">
    <div class="col-md-7">
    </div>
    <div class="col-md-5 welcome-side">
      <h1>Get relief...<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...now</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 feature">
        <div class="row">
          <div class="col-sm-12">
            <h3>Top Water Supplies</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @water_products.first.image.url(:thumb) %>
          </div>
          <div class="col-sm-8">
            <ul>
            <% @water_products.each do |product|  %>
              <li><%= link_to product.title, item_path(product) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 feature">
        <div class="row">
          <div class="col-sm-12">
            <h3>Survival Basics</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @survival_products.last.image.url(:thumb) %>
          </div>
          <div class="col-sm-8">
            <ul>
              <% @survival_products.each do |product|  %>
                <li><%= link_to product.title, item_path(product) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 feature">
        <div class="row">
          <div class="col-sm-12">
            <h3>Clothing Collection</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag @clothing_products.first.image.url(:thumb) %>
          </div>
          <div class="col-sm-8">
            <ul>
              <% @clothing_products.each do |product|  %>
                <li><%= link_to product.title, item_path(product) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
