<h2>All Items</h2>
<%= render partial: "partials/supplier_list" %>
<% current_suppliers.each do |supplier| %>
	<div class="suppliers <%= supplier.name %>" >
		<% supplier.items.each do |item| %>
			<% if !item.retired %>
			<ul>
				<li>
					<%= link_to item.title, item_path(item) %>
					<%= image_tag item.image.url(:thumb) %>
					<%= item.description %>
					<%= number_to_currency(item.price.to_f / 100.00) %>
					<%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-default" %>
				</li>
			</ul>
			<% end %>
		<% end %>
	</div>
<% end %>	
