<div id="supplier_home">
	<h1><%= @supplier.name %> Supplier Page</h1>
	<ul>
		<% @items.each do |item|  %>	
			<li>
				Title:<button type="button" class="btn btn-default" data-toggle="modal" data-target="<%= ".#{item.title}" %>">View More Info</button></br>
				<div class="modal fade <%= "#{item.title}" %>"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-md">
								<div class="modal-content">
              		<%= item.title  %>
						    </div>
						  </div>
						</div>
				<%= item.title %>
				Description: <%= item.description  %></br>
				Price: <%= number_to_currency(item.price.to_f/100) %></br>
				Quantity:	<%= item.quantity %></br>
				<%= image_tag item.image.url(:medium) %>
				<% if !item.retired %>
					<%= button_to "Add to Cart", cart_index_path(item_id: item), class: "btn btn-lg btn-default" %>
				<% end %>
			</li>
		<% end  %>
	</ul>
</div>

	<button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">Log In</button>
						<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-md">
								<div class="modal-content">
              		<%= render partial: "./partials/login" %>
						    </div>
						  </div>
						</div>

